<!--This is Contact me Form -->
<div style="display:flex; padding:20px">

  <div
    class="container"
    style="background-color:	#313131; border-radius:20px ; height: 500px; width: 500px; padding:70px;"
  >
    <h2 style="color: white;">Contact Me</h2>
    <!-- colorExample shades of white (#dae4ea) -->
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1" style="color:white">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
        />
      </div>
      <br />
      <div class="form-group">
        <label for="exampleInputText" style="color:white">Message</label>
        <textarea
          type="text"
          class="form-control"
          id="exampleInputText"
          placeholder="Your Message"
          style="height: 150px; resize:none;"
        ></textarea>
      </div>
      <div class="form-group form-check" style="margin-top: 5px;">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label
          class="form-check-label"
          for="exampleCheck1"
          style="color:white; margin-top:3px;"
        >Subscribe for newsLetter</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>

</div>