<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <!--- Style sheet From bootswatch.com -->
    
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    
    <!--- Css file i created to create a footer-->
    
    <link rel='stylesheet' href="/stylesheets/footer.css"/>
  
  <!---Bootstrap 4 Navigation Bar from W3schools.com --->
  <nav class="navbar navbar-expand-lg bg-primary navbar-dark">
    <a class="navbar-brand" href="/">Logo</a>
    <!-- Links -->
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" href="/">HomePage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="projectspage">Projects page</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  href="contactme">Contact me</a>
      </li>
    </ul>  
  </nav>
  </head>
    <body>
    {{{body}}}
          
          
    <footer> 
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-item-link" href="">
          <img src="https://img.icons8.com/color/48/000000/twitter-circled--v1.png"/>
          </a>
        </li>
        <li class="footer-list-item">
          <a class="footer-item-link" href="#">
            <img src="https://img.icons8.com/fluent/48/000000/instagram-new.png"/>
          </a>
        </li>
        <li class="footer-list-item">
          <a class="footer-item-link" href="#">
            <img src="https://img.icons8.com/color/48/000000/facebook-circled--v1.png"/>
          </a>
        </li>
        <li class="footer-list-item">
          <a class="footer-item-link" href="#">
            <img src="https://img.icons8.com/color/48/000000/linkedin.png"/>
          </a>
        </li>
      </ul>
      
      

    </footer>
          <!--- Here is the external js file -->
    <script src="/javascripts/active.js"></script>
    </body>
</html>
