<!--This is Projects page -->


<h1 style="color: white; text-align:center">Projects</h1>


<div class="container" style="display:flex; flex-wrap:wrap; flex-direction:column; align-content:center; padding:20px;">

    <div style=" max-width:1000px;padding:20px; justify-content: center; display:flex; flex-wrap:wrap ;flex-direction:row;background-color:#313131; border-radius:20px ;">
    <div class="card" style="width:200px; margin:10px; background-color:#212121; color:white;">
    <img
      src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
      class="card-img-top"
      alt="..."
      style=""
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#!" class="btn btn-primary">Button</a>
    </div>
  </div>

  <!-- second Item --->
    <div class="card" style="width:200px; margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>

<!-- second Item --->
    <div class="card" style="width:200px; margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>

<!-- second Item --->
    <div class="card" style="width:200px; margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>

    <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  

    <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  
  
  <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  
  
  <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  
  
  <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  
  
  <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  

    <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  

    <!-- second Item --->
    <div class="card" style="width:200px;margin:10px;background-color:#212121; color:white">
  <img
    src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    <a href="#!" class="btn btn-primary">Button</a>
  </div>
    </div>  
  
  



    </div>
</div>